[core]
	filemode = false
	editor = vim
	autocrlf = input
	excludesFile = ~/.gitignore
[user]
	name = quunnb
	email = quunnb@amideus.fi
[credential]
	helper = store
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
	recurseSubmodules = on-demand
[merge]
	conflictstyle = zdiff3 
[submodule]
	recurse = true
