[submodule ".config/qutebrowser/rosepine"]
	path = .config/qutebrowser/rosepine
	url = https://github.com/aalbegr/qutebrowser-rose-pine
[submodule ".config/mpv/scripts/mpv-cut"]
	path = .config/mpv/scripts/mpv-cut
	url = https://github.com/familyfriendlymikey/mpv-cut
