*background:  #000000
*foreground:  #EEEEEE
*b:  #000000
*f:  #EEEEEE
! Black + DarkGrey
*color0:  #000000
*color8:  #222222
! DarkRed + Red
*color1:  #EE0000
*color9:  #FF0000
! DarkGreen + Green
*color2:  #00EE00
*color10: #00FF00
! DarkYellow + Yellow
*color3:  #EEEE00
*color11: #FFFF00
! DarkBlue + Blue
*color4:  #0000EE
*color12: #0000FF
! DarkMagenta + Magenta
*color5:  #EE00EE
*color13: #FF00FF
!DarkCyan + Cyan (both not tango)
*color6:  #00EEEE
*color14: #00FFFF
! LightGrey + White
*color7:  #EEEEEE
*color15: #FFFFFF

! emacs
emacs.font: ShureTechMono Nerd Font-14

! dwm & dmwnu
*normbgcolor: #000000
*normbordercolor: #000000
*normfgcolor: #FFFFFF
*selbgcolor: #000000
*selbordercolor: #FFFFFF
*selfgcolor: #FFFFFF
*dmenuselfgcolor: #FF0000
