! special
*.foreground:  #D5D4C0
*.background:  #444444
*.cursorColor: #888888

! black
*.color0:  #222222
*.color8:  #333333

! red
*.color1:  #BB888C
*.color9:  #BB888C

! green
*.color2:  #74888C
*.color10: #74888C

! yellow
*.color3:  #45575B
*.color11: #45575B

! blue
*.color4:  #74888C
*.color12: #74888C

! magenta
*.color5:  #45575B
*.color13: #45575B

! cyan
*.color6:  #D5D4C0
*.color14: #D5D4C0

! white
*.color7:  #D5D4C0
*.color15: #D5D4C0
