/*
 * ~/.config/anki/main.css
 */

@font-face {
  font-family: default_font;
  src: url("_font.ttf");
}

/* TODO: night mode: https://docs.ankiweb.net/templates/styling.html#night-mode */

:root {
  --map-color:    #000000;
  --element:      #444444;
  --gray:         #444444;
  --map-hl-color: #FF0000;
  --map-borders:  #FF0000;
  --black:        #000000;
  --red:          #FF0000;
  --red-cloze:    #FF0000;
  --yellow-cloze: #FFFF00;
  --green-cloze:  #00FF00;
  --bg:           #111111;
  --text:         #EEEEEE;
  --again:        #FF0000;
  --hard:         #FFFF00;
  --good:         #00FF00;
  --easy:         #0000FF;
}

* {
  border-radius: 0 !important;
}

body {
  height: 100vh;
  margin: 0;
}

pre {
  font-family: default_font;
}

img {
  object-fit: contain;
  float: center;
  padding: 4px;
  text-align: center;
}

input[type=text] {
  font-family: default_font !important;
  font-size: 1.2rem;
  text-align: center;
  border: solid 2px none;
  background: var(--black);
  &:focus {
    border: 2px solid var(--red);
  }
}

code {
  font-family: default_font;
  font-size: 1.2rem;
}

.hl {
  color: var(--red);
  font-weight: bold;
}

.container {
  height: 100vh;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  max-width: 70vw;
  align-items: center;
  align-content: center;
  justify-items: center;
  background-color: var(--bg);
  aspect-ratio: 16/9;
}

.footer {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-width;
}

.code {
  width: max-content;
  max-width: 1200px;
  border: dashed 4px var(--gray);
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
}

.normal {
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.card {
  font-family: default_font !important;
  font-size: 22px;
}

.header {
  align-content: center;
  padding: 16px;
  margin: 16px;
  text-align: center;
  font-size: 120%;
}

.header img {
  object-fit: contain;
  height: 40px;
}

.header > * {
  padding: 8px;
}

.top {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding: 16px;
  width: 100%;
  & p {
    text-align: center;
  }
  &>img {
    object-fit: contain;
    width: 1fr;
    margin: auto;
    object-position: center bottom;
  }
}

.column {
  & p {
    text-align: center;
  }
}

.nowrap {
  white-space: nowrap;
}

.map {
  text-align: center;
}

.answer,
.question,
.extra {
  display: inline-block;
  text-align: left;
  max-width: 100%;
}

.question {

  & img {
  height: 400px;
  }
}

.map_question {
  display: grid;
  justify-content: center;
  justify-self: center;
  margin: 8px;
  min-width: 600px;
  padding: 32px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.map_answer {
  display: grid;
  justify-content: center;
  justify-self: center;
  margin: 8px;
  min-width: 600px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
}

.top_answer {
  justify-self: center;
  justify-items: center;
  text-align: center;
  padding: 16px;
}

.top_answer img {
  max-height: 240px;
}

.bottom {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-content: top;
  justify-content: space-evenly;
  justify-items: space-evenly;
  padding: 8px;
  align-items: center;
  width: 100%;
  text-align: center;
  & img {
    height: 100%;
  }
  & > div {
    display: grid;
    justify-content: space-evenly;
    justify-items: space-evenly;
    object-position: center;
  }
}

.extra {
  display: grid;
  font-size: 80%;
  font-style: italic;
  text-align: left;
  vertical-align: middle;
  align-content: center;
  margin: auto;

  &>p {
    text-align: center;
  }
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.small_map {
  display: grid;
  justify-items: center;

  &>img {
  text-align: center;
  }
}

.namn {
  padding: 4px;
  font-size: 80%;
  font-style: italic;
}

.vaakuna {
  text-align: center;
}

.vaakuna img {
  height: 200px;
}

.latex img {
  height: 100px;
}

.ipa img {
  height: 100px;
}

img.invert {
  filter: invert();
}

hr {
  display: block;
  border: none;
  height: 4px;
  background-color: var(--red);
  color: var(--red);
}

.comment {
  color: gray;
  font-style: italic;
}

#typeans {
  font-family: default_font !important;
  font-size: 1.2rem;
}

.cloze {
  color: var(--red);
  font-weight: bold;
}

.cloze.st-error {
    color: var(--red-cloze);
    text-decoration: line-through;
    margin-right: 3px;
}
.cloze.st-expected {
    color: var(--yellow-cloze);
}
.cloze.st-ok {
    color: var(--green-cloze);
}

.typeGood {
  color: var(--black);
  font-family: default_font !important;
  background: var(--green-cloze);
}

.typeMissed {
  font-family: default_font !important;
  color: var(--black);
  background: var(--yellow-cloze);
  text-decoration: underline;
}

.typeBad {
  font-family: default_font !important;
  color: var(--black);
  background: var(--red-cloze);
  text-decoration: underline;
}

#image-occlusion-canvas {
    --inactive-shape-color: var(--gray);
    --active-shape-color: var(--red-cloze);
    --inactive-shape-border: 2px var(--black);
    --active-shape-border: 2px var(--black);
}
