/*
 * ~/.config/anki/main.css
 */

@font-face {
  font-family: default_font;
  src: url("_font.ttf");
}

:root {
  --element: #d5d4c0;
  --light-bg: #d5d4c0;
  --gray: #d5d4c0;
  --map-color: #d5d4c0;
  --map-fill: #d5d4c0;
  --map-hl-fill: #45575b;
  --map-border: #45575b;
  --map-hl-border: #45575b;
  --black: #35474b;
  --dark: #45575b;
  --darker: #35474b;
  --red: #bb888c;
  --white: #f5f4e0;
  --hilight: #45575b;
  --yellow: #ddaa77;
  --green: #aab8b4;
  --red-cloze: #bb888c;
  --yellow-cloze: #ddaa77;
  --green-cloze: #aab8b4;
  --text: #35474b;
  --again: #bb888c;
  --hard: #ddaa77;
  --good: #aab8b4;
  --easy: #74888c;

  --color0: #d5d4c0;
  --color1: #45575b;
  --color2: #bb888c;
  --color3: #74888c;
  --color4: #97a7a5;
  --color5: #aab8b4;
  --color6: #bdc9c0;
  --color7: #cfd4c6;
}

* {
  border-radius: 0;
  background-color: var(--light-bg);
  color: var(--text);
}

body {
  background-color: var(--light-bg);
  color: var(--text);
  height: 100vh;
  margin: 0;
  font-weight: bold;
}

.center {
  margin-left: 240px;
  margin-right: 240px;
}

.card {
  font-family: default_font;
  font-size: 22px;
}

.row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

hr {
  background-color: var(--hilight);
  height: 2px;
  min-width: 320px;
}

.header {
  font-size: 120%;
  position: absolute;
  left: 50%;
  top: 32px;
  transform: translateX(-50%);
}

input,
sub,
code,
pre,
h1,
h2,
h3 {
  font-family: default_font !important;
}

ul,
li {
  margin: 0;
}

input {
  text-align: center;
  font-size: 22px;
  border: 2px solid var(--hilight) !important;
  outline: none;
}

input:focus {
  color: var(--color1) !important;
  border: 2px solid var(--hilight) !important;
  outline: none;
  background-color: var(--color0) !important;
}

sub,
code {
  font-size: 22px;
}

h2 {
  font-size: 24px;
}

span {
  & .cloze {
    color: var(--light-bg);
    background-color: var(--hilight);
    font-weight: bold;
  }
}

.cloze {
  color: var(--light-bg);
  background-color: var(--hilight);
}

.left {
  display: grid;
  place-items: center;
  place-content: center;
}

.right {
  display: grid;
  place-items: center;
  place-content: center;
}

.extra {
  font-size: 80%;
  font-style: italic;
  font-weight: normal;
}

.chess-White {
  font-weight: bold;
  color: var(--black);
  background-color: var(--gray);
  border: 1px solid var(--black);
  padding: 1px;
}

.chess-Black {
  font-weight: bold;
  color: var(--gray);
  background-color: var(--black);
  border: 1px solid var(--gray);
  padding: 1px;
}

.container {
  display: grid;
  height: 92vh;
  place-items: center;
}

.top {
  display: grid;
  align-items: end;
  align-content: end;
  justify-items: center;
  text-align: center;
}

.bottom {
  display: grid;
  align-items: start;
  align-content: start;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.comment {
  color: var(--gray);
  background-color: var(--hilight);
  text-wrap: nowrap;
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

.typeGood {
  color: var(--text);
  background-color: var(--green);
}

.typeMissed {
  color: var(--text);
  background-color: var(--red);
}

.typeBad {
  background-color: var(--red);
}

.st-ok {
  color: var(--text) !important;
  background-color: var(--green) !important;
}

.st-expected {
  color: var(--white) !important;
  background-color: var(--hilight) !important;
}
.st-error {
  color: var(--white) !important;
  background-color: var(--red) !important;
}

.footer {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  align-items: start;
  align-content: start;
  justify-items: center;
  justify-content: center;
}

.element {
  text-align: center;
}

.element p,
span {
  display: inline-block;
  text-align: left;
}

img {
  max-height: 400px;
}

.vaakuna {
  text-align: center;
}

.namn {
  font-style: italic;
}

.invert {
  filter: invert();
}

.hl {
  color: var(--light-bg) !important;
  background-color: var(--hilight) !important;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  text-align: left;
}

.tooltip-trigger {
  list-style-type: none;
  cursor: pointer;
}

.tooltip-content {
  list-style-type: none;
  margin: 8px;
  visibility: hidden;
  width: 320px;
  background-color: var(--color1);
  color: var(--color0);
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 25%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-trigger:hover + .tooltip-content {
  visibility: visible;
  opacity: 1;
}
