/*
 * ~/.config/anki/main.css
 */

@font-face {
  font-family: default_font;
  src: url("_font.ttf");
}

:root {
  --element: #d5d4c0;
  --gray: #d5d4c0;
  --map-color: #d5d4c0;
  --map-fill: #d5d4c0;
  --map-hl-fill: #45575b;
  --map-border: #45575b;
  --map-hl-border: #45575b;
  --black: #35474b;
  --red: #bb4400;
  --white: #f5f4e0;
  --hilight: #45575b;
  --yellow: #bb8800;
  --green: #88aa44;
  --red-cloze: #bb4400;
  --yellow-cloze: #bb8800;
  --green-cloze: #88aa44;
  --bg: #111111;
  --text: #35474b;
  --again: #bb4400;
  --hard: #bb8800;
  --good: #88aa44;
  --easy: #7675ba;
}

* {
  border-radius: 0 !important;
  background-color: #d5d4c0 !important;
  color: var(--text);
}

body {
  background-color: #d5d4c0 !important;
  color: var(--text);
  height: 100vh;
  margin: 0;
  font-weight: bold;
}

p {
  /* margin: 0; */
}

.center {
  margin-left: 240px;
  margin-right: 240px;
}

.card {
  font-family: default_font;
  font-size: 22px;
}

.row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  /* background-color: green; */
  width: 100%;
  justify-content: center;
  align-items: center;
}

hr {
  background-color: var(--hilight);
  height: 2px;
  min-width: 320px;
}

.header {
  font-size: 120%;
  position: absolute;
  left: 50%;
  top: 32px;
  transform: translateX(-50%);
}

input,
sub,
code,
pre,
h1,
h2,
h3 {
  font-family: default_font !important;
}

ul,
li {
  margin: 0;
}

input {
  text-align: center;
  font-size: 22px;
  border: 2px solid var(--gray);
  outline: none;
}

input:focus {
  border: 2px solid var(--hilight) !important;
  outline: none;
}

sub,
code {
  font-size: 22px;
}

h2 {
  font-size: 24px;
}

span {
  & .cloze {
    color: var(--gray);
    background-color: var(--hilight);
    font-weight: bold;
  }
}

.left {
  display: grid;
  place-items: center;
  place-content: center;
}

.right {
  display: grid;
  place-items: center;
  place-content: center;
}

.extra {
  font-size: 80%;
  font-style: italic;
  font-weight: normal;
}

.chess-White {
  font-weight: bold;
  color: var(--black);
  background-color: var(--gray);
  border: 1px solid var(--black);
  padding: 1px;
}

.chess-Black {
  font-weight: bold;
  color: var(--gray);
  background-color: var(--black);
  border: 1px solid var(--gray);
  padding: 1px;
}

.container {
  display: grid;
  height: 92vh;
  place-items: center;
}

.top {
  display: grid;
  align-items: end;
  align-content: end;
  justify-items: center;
  text-align: center;
}

.bottom {
  display: grid;
  align-items: start;
  align-content: start;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.comment {
  color: var(--gray);
  background-color: var(--hilight);
}

.typeGood {
  color: var(--text);
  background-color: var(--green);
}

.typeMissed {
  color: var(--text);
  background-color: var(--red);
}

.typeBad {
  background-color: var(--red);
}

.st-ok {
  color: var(--text) !important;
  background-color: var(--green) !important;
}

.st-expected {
  color: var(--white) !important;
  background-color: var(--hilight) !important;
}
.st-error {
  color: var(--white) !important;
  background-color: var(--red) !important;
}

.footer {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  align-items: start;
  align-content: start;
  justify-items: center;
  justify-content: center;
}

.element {
  text-align: center;
}

.element p,
span {
  display: inline-block;
  text-align: left;
  /* margin: none; */
}

img {
  max-height: 400px;
}

.vaakuna {
  text-align: center;
}

.namn {
  font-style: italic;
}

.invert {
  filter: invert();
}

.hl {
  color: var(--gray);
  background-color: var(--hilight);
}
