/*
 * ~/.config/anki/main.css
 */

@font-face {
  font-family: default_font;
  src: url("_font.ttf");
}

:root {
  --element: #444444;
  --gray: #444444;
  --map-color: #222222;
  --map-fill: #222222;
  --map-hl-fill: #88bb44;
  --map-border: #ffaa00;
  --map-hl-border: #ffaa00;
  --black: #000000;
  --red: #dd4400;
  --orange: orange;
  --green: #88bb44;
  --red-cloze: #dd4400;
  --yellow-cloze: #ffcc00;
  --green-cloze: #88bb44;
  --bg: #111111;
  --text: #ffffff;
  --again: #dd4400;
  --hard: #ffcc00;
  --good: #88bb44;
  --easy: #4444bb;
}

* {
  border-radius: 0 !important;
}

body {
  height: 100vh;
  margin: 0;
}

pre {
  font-family: default_font;
}

p,
ul {
  margin: 0;
}

img {
  object-fit: contain;
  float: center;
  padding: 4px;
  text-align: center;
  max-height: 40vh;
  max-width: 100%;
}

input[type="text"] {
  font-family: default_font !important;
  font-size: 1.2rem;
  text-align: center;
  border: solid 2px none;
  background: var(--black);
  &:focus {
    border: 2px solid orange;
  }
}

code {
  font-family: default_font;
  font-size: 1.2rem;
}

.hl {
  font-weight: bold;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  align-items: center;
  justify-items: center;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
  max-width: 70vw;
  min-width: 50vw;
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  aspect-ratio: 16/9;
  & img {
    width: 70vw;
  }
}

.top {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: end;
  align-self: end;
  width: 100%;
  > p {
    text-align: center;
  }
  & img {
    height: 240px;
  }
}

.bottom {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  padding: 8px;
  align-items: start;
  align-self: start;
  justify-items: center;
  width: 100%;
  & img {
    height: 100%;
  }
}

hr {
  display: grid;
  border: none;
  height: 4px;
  background-color: #ffaa00;
  color: #ffaa00;
  width: 100%;
}

.footer {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-width;
}

.header {
  display: grid;
  text-align: center;
  font-size: 120%;
}

.header img {
  object-fit: contain;
  height: 40px;
}

.header > * {
  padding: 8px;
}

.map {
  text-align: center;
}

.answer,
.question,
.extra {
  display: grid;
  text-align: center;
}

.question {
  display: grid;
  > p {
    text-align: left;
  }
}

.left-align {
  text-align: left;
}

.map_question {
  display: grid;
  justify-content: center;
  justify-self: center;
  margin: 8px;
  min-width: 600px;
  padding: 32px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.map_answer {
  display: grid;
  justify-content: center;
  justify-self: center;
  margin: 8px;
  min-width: 600px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
}

.top_answer {
  justify-self: center;
  justify-items: center;
  text-align: center;
  padding: 16px;
}

.top_answer img {
  max-height: 240px;
}

.code {
  text-align: left;
  border: 4px dashed var(--gray);
  padding: 16px;
  background-color: var(--black);
}

.extra {
  display: grid;
  font-size: 80%;
  font-style: italic;
  text-align: left;
  vertical-align: middle;

  & > p {
    text-align: center;
  }
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.small_map {
  display: grid;
  justify-items: center;

  & > img {
    text-align: center;
  }
}

.namn {
  padding: 4px;
  font-size: 80%;
  font-style: italic;
}

.vaakuna {
  text-align: center;
}

.vaakuna img {
  height: 200px;
}

.latex img {
  height: 100px;
}

.ipa img {
  height: 100px;
}

img.invert {
  filter: invert();
}

.comment {
  color: #888888;
  font-style: italic;
}

#typeans {
  font-family: default_font !important;
  font-size: 1.2rem;
}

.cloze {
  color: var(--red);
  font-weight: bold;
}

.cloze.st-error {
  color: var(--red-cloze);
  text-decoration: line-through;
  margin-right: 3px;
}
.cloze.st-expected {
  color: var(--yellow-cloze);
}
.cloze.st-ok {
  color: var(--green-cloze);
}

.typeGood {
  color: var(--black);
  font-family: default_font !important;
  background: var(--green-cloze);
}

.typeMissed {
  font-family: default_font !important;
  color: var(--black);
  background: var(--yellow-cloze);
  text-decoration: underline;
}

.typeBad {
  font-family: default_font !important;
  color: var(--black);
  background: var(--red-cloze);
  text-decoration: underline;
}

#image-occlusion-canvas {
  --inactive-shape-color: var(--gray);
  --active-shape-color: var(--red-cloze);
  --inactive-shape-border: 2px var(--black);
  --active-shape-border: 2px var(--black);
}

.chess-move {
  color: var(--orange);
  font-weight: bold;
}

.chess-Black {
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
  border: 2px solid white;
}

.chess-White {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  border: 2px solid white;
}

.chess-container {
  display: flex;
  height: 100vh;
  width: 1200px;
}
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 32px;
}

.fin {
  background-color: #ffffff;
  color: #0000ff;
}

.card {
  font-size: 22px;
  font-family: default_font;
}
