/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: #6c8091;
  }

  to {
    color: #6c8091;
    background-color: #ffffff;
  }
}

@keyframes blink-critical {
  70% {
    color: #6c8091;
  }

  to {
    color: #6c8091;
    /* background-color: @love; */
    background-color: #ff0000;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 1px;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: transparent;
  color: #ffffff;
  background-color: #000000;
  font-family: "DepartureMono Nerd Font";
  font-size: 18px;
}

/* Every module */
#mode,
#network,
#custom-keyboard-layout,
#idle_inhibitor,
#cpu,
#memory,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray {
  padding: 0.5rem 0.6rem;
  margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-launcher {
  margin-left: 15px;
  margin-right: 10px;
}

#workspaces {
  font-size: 13px;
}

#workspaces button {
  color: #6c8091;
  padding: 1px 6px;
  margin-right: 2px;
  margin-left: 2px;
  border: solid 1px #a6bcc5;
}

#workspaces button.focused {
  border: 2px solid #6c8091;
  background: #f3f5f4;
}

#workspaces button.urgent {
  border: 2px dashed #ffffff;
  color: #ffffff;
}

#workspaces button:hover {
  color: #f3f5f4;
  background: #6c8091;
}

#mode {
  background: #a6bcc5;
  border-bottom: 3px transparent;
  color: #f3f5f4;
  margin-left: 5px;
  padding: 7px;
}

#window {
  font-weight: bold;
}

#network.disconnected {
  color: #ffffff;
}

#cpu.warning {
  color: #ffffff;
}

#cpu.critical {
  color: #ffffff;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #ffffff;
}

#memory.critical {
  color: #ff0000;
  animation-name: blink-critical;
  animation-duration: 2s;
  padding-left: 5px;
  padding-right: 5px;
}

#backlight.icon {}

#pulseaudio {}

#pulseaudio.muted {
  color: gray;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: #ff0000;
}

#battery.critical {
  color: #ff0000;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#custom-power {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
}

#tray {
  background: #000000;
  border-radius: 1em;
}
