:root {
    --tridactyl-bg: #d9d5ba;
    --red: #825b69;
    --blue: #5b8275;
    --tridactyl-fg: #444444;

    --tridactyl-font-size: 14pt;
    --tridactyl-status-font-size: 14px;
    --tridactyl-status-font-family: "ShureTechMono Nerd Font";
    --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg);
    --tridactyl-status-border: 2px solid black;
    --tridactyl-status-border-radius: 0;

    --tridactyl-header-font-size: 16px;

    --tridactyl-of-fg: var(--tridactyl-fg);
    --tridactyl-of-bg: var(--blue);

    --tridactyl-hintspan-fg: var(--tridactyl-bg);
    --tridactyl-hintspan-bg: var(--red);

    --tridactyl-hint-active-fg: var(--tridactyl-fg);
    --tridactyl-hint-active-bg: var(--red);
    --tridactyl-hint-active-outline: 1px solid #000;

    --tridactyl-hint-bg: rgba(13, 31, 54, 0.25);
    --tridactyl-hint-outline: 2px solid var(--tridactyl-hintspan-bg);

    --tridactyl-border-radius: 0;
}

:root.TridactylOwnNamespace {
    scrollbar-color: var(--tridactyl-scrollbar-color);
    scrollbar-width: thin;
}

:root #completions .sectionHeader {
    display: none;
}

:root #completions .focused,
:root #completions .focused .url {
    background: var(--tridactyl-bg);
    text-decoration: underline;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    opacity: 0.9;
}
