:root {
  --tridactyl-font-family: "ShureTechMono Nerd Font";
  --tridactyl-font-family-sans: "ShureTechMono Nerd Font";
  --tridactyl-status-font-family: "DepartureMono Nerd Font";
  --tridactyl-cmplt-font-family: "DepartureMono Nerd Font";
  --tridactyl-font-size: 10pt;

  --tridactyl-bg: #45575b;
  --tridactyl-fg: #d5d4c0;
  --tridactyl-scrollbar-color: #d5d4c0;

  --tridactyl-hintspan-fg: #45575b;
  --tridactyl-hintspan-bg: #cc888c;
  --tridactyl-hint-bg: #c4a7e788;
  --tridactyl-hint-bg: none;
  /* --tridactyl-hint-outline: 2px solid #CC888C; */
  --tridactyl-hint-outline: none;
  --tridactyl-bg: #45575b;
  --tridactyl-hint-active-fg: #cc888c;
  --tridactyl-hint-active-bg: #45575b;
  --tridactyl-hint-active-outline: #45575b;

  --tridactyl-status-font-size: 14px;
  --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg);
  /* --tridactyl-cmplt-border-top: 2px solid #CC888C; */
  --tridactyl-cmplt-outline-top: none;
  --tridactyl-status-border: none;
  --tridactyl-status-border-radius: 0;

  --tridactyl-url-fg: #cc888c;
  --tridactyl-search-highlight-color: #cc888c;
}

:root.TridactylOwnNamespace {
  scrollbar-color: var(--tridactyl-scrollbar-color);
  scrollbar-width: thin;
}

:root #completions .sectionHeader {
  display: none;
}

:root #completions .focused,
:root #completions .focused .url {
  background: var(--tridactyl-bg);
  text-decoration: underline;
}

:root #cmdline_iframe {
  position: fixed !important;
  bottom: unset;
  top: 0% !important;
  left: 0% !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
  opacity: 0.9;
}
