:root {
    --tridactyl-font-family: "InconsolataGo Nerd Font Mono";
    --tridactyl-font-family-sans: "InconsolataGo Nerd Font Mono";
    --tridactyl-status-font-family: "InconsolataGo Nerd Font Mono";
    --tridactyl-cmplt-font-family: "InconsolataGo Nerd Font Mono";
    --tridactyl-font-size: 14pt;

    --tridactyl-bg: #191724;
    --tridactyl-fg: #ebbcba;
    --tridactyl-scrollbar-color: #ebbcba;

    --tridactyl-hintspan-fg: #191724;
    --tridactyl-hintspan-bg: #9ccfd8;
    /* --tridactyl-hint-bg: #c4a7e788; */
    --tridactyl-hint-bg: none;
    /* --tridactyl-hint-outline: 2px solid #eb6f92; */
    --tridactyl-hint-outline: none;

    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;

    --tridactyl-status-font-size: 14px;
    --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg);
    /* --tridactyl-cmplt-border-top: 2px solid #ebbcba; */
    --tridactyl-cmplt-outline-top: none;
    --tridactyl-status-border: none;
    --tridactyl-status-border-radius: 0;

    --tridactyl-url-fg: #9ccfd8;
    --tridactyl-search-highlight-color: #f6c177;
}

:root.TridactylOwnNamespace {
    scrollbar-color: var(--tridactyl-scrollbar-color);
    scrollbar-width: thin;
}

:root #completions .sectionHeader {
    display: none;
}

:root #tridactyl-colon::before {
    content: "> ";
}

:root #completions .focused,
:root #completions .focused .url {
    background: var(--tridactyl-bg);
    text-decoration: underline;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    opacity: 0.9;
}
