:root {
    --tridactyl-bg: #191724;
    --tridactyl-fg: #ebbcba;
    --tridactyl-scrollbar-color: #ebbcba var(--tridactyl-fg);

    --tridactyl-hintspan-fg: #191724;
    --tridactyl-hintspan-bg: #9ccfd8;

    --tridactyl-hint-active-fg: #191724;
    --tridactyl-hint-active-bg: #ebbcba;
    --tridactyl-hint-active-outline: 1px solid #000;

    --tridactyl-status-font-size: 14px;
    --tridactyl-status-font-family: "ShureTechMono Nerd Font";
    --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg);
    --tridactyl-status-border: none;
    --tridactyl-status-border-radius: 0;
}

:root.TridactylOwnNamespace {
    scrollbar-color: var(--tridactyl-scrollbar-color);
    scrollbar-width: thin;
}

:root #completions .sectionHeader {
    display: none;
}

:root #tridactyl-colon::before {
    content: "> ";
}

:root #completions .focused,
:root #completions .focused .url {
    background: var(--tridactyl-bg);
    text-decoration: underline;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    opacity: 0.9;
}

